<div class="login_wrapper">
  <mat-card>
    <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input matInput formControlName="login" />
        <mat-error *ngIf="loginForm.controls.login.invalid"
          >Поле "Login" является обязательным</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" />
        <mat-error *ngIf="loginForm.controls.password.invalid"
          >Поле "Password" является обязательным</mat-error
        >
      </mat-form-field>

      <button mat-raised-button type="submit" [disabled]="!loginForm.valid">
        Save
      </button>
    </form>
  </mat-card>
</div>
