.login_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .loginForm {
    display: flex;
    flex-direction: column;
    width: 300px;

    button {
      margin-top: 15px;
    }
  }
}
