.form_wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.1em;
}

.profileForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

mat-form-field {
  width: 100%;
}
