<div class="form_wrapper">
  <mat-card>
    <form class="profileForm" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Year</mat-label>
        <input matInput formControlName="year" />
      </mat-form-field>


      <mat-form-field>
        <mat-label>Genre</mat-label>
        <input matInput formControlName="genre" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Author</mat-label>
        <input matInput formControlName="author" />
      </mat-form-field>

      <button mat-raised-button type="submit" [disabled]="!profileForm.valid">
        Save
      </button>
    </form>
  </mat-card>
</div>
