<div class="books-container">
  <div class="books-operations">
    <button mat-raised-button (click)="add()">Add</button>
    <button mat-raised-button (click)="edit()">Edit</button>
    <button mat-raised-button (click)="delete()">Delete</button>
  </div>
  <div class="books-grid">
    <app-grid
      [dataSource]="dataSource$ | async"
      [displayedColumns]="['id', 'name', 'year', 'genre', 'author']"
      (selectRows)="selectRows($event)"
    >
    </app-grid>
  </div>
</div>
